/* Browser resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Browser reset ends */

body {
  font-family: "Roboto", sans-serif;
}

/* Set CSS variales for colors  */
:root {
  --primary: #7749f8;
  --primary-dark: #5227cc;
  --primary-light: #ebe5fc;

  --secondary: #6c757d;
  --secondary-dark: #54595e;
  --secondary-light: #abb5be;

  --status-success: #28a745;
  --status-danger: #dc3545;
  --status-warning: #ffc107;
  --status-info: #17a2b8;

  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;

  --faint-gray: #ced4da;
  --text-gray: #59595a;

  --medium-blue: #551a8b;

  --black: #000;
  --white: #fff;
}
/* Variable ends */

/* Heading and paragraph set default styles Starts */

h1 {
  font-size: 3rem;
  margin: 2rem 0;
  font-weight: bolder;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
  margin: 1.5rem 0;
}

p {
  margin: 0.5rem 0;
  font-size: 1.25rem;
  opacity: 0.5;
}

p.text-lead {
  font-weight: 700;
  font-size: 18px;
}

/* Heading and paragraph set default styles Ends */

/* Background colors */
.bg-primary {
  background-color: var(--primary);
}

.bg-primary-dark {
  background-color: var(--primary-dark);
}

.bg-primary-light {
  background-color: var(--primary-light);
}

.bg-secondary {
  background-color: var(--secondary);
}

.bg-secondary-dark {
  background-color: var(--secondary-dark);
}

.bg-secondary-light {
  background-color: var(--secondary-light);
}

.bg-success {
  background-color: var(--status-success);
}

.bg-danger {
  background-color: var(--status-danger);
}

.bg-info {
  background-color: var(--status-info);
}

.bg-warning {
  background-color: var(--status-warning);
}

.bg-gray-600 {
  background-color: var(--gray-600);
}

.bg-gray-700 {
  background-color: var(--gray-700);
}

.bg-gray-800 {
  background-color: var(--gray-800);
}

.bg-gray-900 {
  background-color: var(--gray-900);
}

/* Background colors end */

.container {
  width: 80%;
  margin: 0 auto;
}

/* Navbar */

header {
  background-color: #f8f9fa;
}

nav.navigation-bar {
  float: left;
}

.navbar {
  padding: 1.5rem 0;
}

nav ul > li {
  display: inline;
  padding: 0 0.5rem;
}

nav ul > li > a {
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--black);
  opacity: 0.5;
}

nav ul > li > a:hover {
  opacity: 1;
}

nav ul > li > a.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--black);
  opacity: 1;
  margin-right: 2rem;
}

.search {
  float: right;
}

/* Navbar ends */

/* Color Section */

.color-section {
  margin-top: 3rem;
}

.color-container {
  float: left;
  margin-right: 1.5rem;
}

.color-box {
  height: 100px;
  width: 200px;
  border-radius: 0.9rem;
}

.color-desc {
  margin-top: 1rem;
}

.color-code {
  opacity: 0.5;
}
/* Color Section ends */

/* Clearfix */

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Clearfix ends */

/* Typography */

.left {
  float: left;
  width: 40%;
}

.right {
  float: right;
  width: 40%;
}

.double-column {
  margin-top: 2rem;
}

.double-column p {
  line-height: 1.75;
}

.text-strike {
  text-decoration: line-through;
}

.text-underline {
  text-decoration: underline;
}

.text-bold {
  font-weight: bold;
}

p.text-print {
  font-size: 14px;
}

p.text-italics {
  font-style: italic;
}

.lead-paragraph {
  opacity: 0.5;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.5;
}
/* Typography ends */

/* Tab Starts */

.tab {
  margin-top: 2.5rem;
  width: 50%;
  margin-bottom: 15rem;
}

.tab-header ul {
  padding-bottom: 0.75rem;
  border-bottom: 1px solid var(--faint-gray);
}

.tab-header li {
  padding: 0.75rem 1.75rem;
  border: 1px solid var(--faint-gray);
  border-right: none;
  color: var(--medium-blue);
  border-radius: 0.375rem 0.375rem 0 0;
}

.tab-header li:last-child {
  border-right: 1px solid var(--faint-gray);
}

.tab-header li.active {
  border-bottom: 1px solid var(--white);
  color: #868686;
}

.tab-content {
  margin-top: 1.75rem;
}

.tab-content > p {
  line-height: 1.5;
}

/* Tab ends */

/* Styling for buttons table */

.button-table th,
.button-table td {
  padding: 1rem 4rem;
  color: #868686;
  font-weight: 300;
  font-size: 1.25rem;
}

.button-table {
  margin-bottom: 3rem;
}

/* Styling for buttons table ends */

/* Buttons */

.btn {
  padding: 0.2rem 1.5rem;
  line-height: 2;
  font-size: 1.25rem;
  border-radius: 0.375rem;
  background: transparent;
  border: none;
}

.btn:hover {
  cursor: pointer;
}

.btn-outline-success {
  border: 2px solid var(--status-success);
}

.btn-outline-success:hover,
.btn-outline-success:focus {
  background-color: var(--status-success);
}

.btn-primary {
  background-color: var(--primary);
  color: var(--white);
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: var(--primary-dark);
}

.btn-primary-hover {
  color: var(--white);
  background-color: var(--primary-dark);
}

.btn-outline-primary {
  border: 2px solid var(--primary);
}

.btn-outline-primary:hover {
  background-color: var(--primary);
  color: var(--white);
}

.btn-outline-primary-hover {
  background-color: var(--primary);
  color: var(--white);
}

.btn-secondary {
  background-color: var(--secondary);
  color: var(--white);
}

.btn-secondary:hover,
.btn-secondary:focus {
  background-color: var(--secondary-dark);
}

.btn-secondary-hover {
  color: var(--white);
  background-color: var(--secondary-dark);
}

.btn-outline-secondary {
  border: 2px solid var(--secondary);
}

.btn-outline-secondary:hover {
  background-color: var(--secondary);
  color: var(--white);
}

.btn-outline-secondary-hover {
  background-color: var(--secondary);
  color: var(--white);
}

/* Button ends */

/* Margin Utility classes */

.mt-4 {
  margin-top: 4rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

/* Margin Utility classes ends */

/* Form Components */

.sidebar {
  width: 30%;
  float: left;
}

.sidebar ul li {
  display: block;
  font-weight: 300;
  padding: 1rem 2rem;
  border: 1px solid var(--faint-gray);
  border-bottom: none;
  min-width: 100%;
  font-size: 1.25rem;
}

.sidebar ul li:last-child {
  border-bottom: 1px solid var(--faint-gray);
  border-radius: 0 0 0.375rem 0.375rem;
}

.sidebar ul li:first-child {
  border-radius: 0.375rem 0.375rem 0 0;
}

.sidebar ul li.active,
.list-group.active {
  background-color: var(--primary);
  color: var(--white);
}

.form-components {
  float: left;
  margin-left: 4rem;
  width: 60%;
}

input#search {
  width: fit-content;
}

.form-element {
  width: 100%;
  font-size: 1.1rem;
  padding: 0 1rem;
  background: transparent;
  border: 1px solid var(--faint-gray);
  appearance: none;
  border-radius: 0.375rem;
  line-height: 3;
}

.select-field {
  color: #868686;
}

textarea {
  font-family: "Roboto", sans-serif;
}

.checkboxes p.checkbox-title {
  opacity: 1;
}

.checkboxes label {
  padding-left: 0.5rem;
}

.checkboxes p,
.checkboxes label {
  font-weight: 300;
}

label.disabled {
  opacity: 0.5;
}

.form-group {
  padding: 0.5rem 1rem 0 0;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  background: var(--primary);
}

input[type="checkbox"].disabled {
  background-color: var(--gray-600);
}
/* Form Components ends */

/* Float */

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.d-inline {
  display: inline;
}

.d-block {
  display: block;
}

.mb-1 {
  margin-bottom: 1rem;
}

.p-1 {
  padding: 1rem;
}
/*  */

.validation label {
  font-size: 1.2rem;
  font-weight: 300;
}

.input-success {
  border: 1px solid var(--status-success);
}

.input-error {
  border: 1px solid var(--status-danger);
}

.list-group {
  width: 50%;
  border: 1px solid var(--faint-gray);
  border-bottom: none;
}

.list-description p {
  font-size: 1rem;
  opacity: 1;
}

.list-footer {
  color: #868686;
}

.list-group.active .list-footer span {
  color: var(--white);
}

.list-group:last-child {
  border-bottom: 1px solid var(--faint-gray);
}

.table table {
  width: 100%;
  border-collapse: collapse;
}

.table table th,
.table table td {
  padding: 1rem;
  text-align: center;
}

.table table tr {
  border-bottom: 1px solid var(--faint-gray);
}

.table table thead tr:first-child {
  border-top: 1px solid var(--faint-gray);
  border-bottom: 2px solid var(--faint-gray);
}

.table table tbody tr:nth-child(odd) {
  background-color: #f8f9fa;
}

/* pagination */

.btn-pagination {
  border: 1px solid var(--faint-gray);
  padding: 0.8rem;
  font-size: 1rem;
  text-decoration: none;
  color: var(--primary);
}

.pagination {
  margin-top: 1rem;
  float: right;
}

.pagination ul li {
  display: inline;
}

.btn-pagination.disabled {
  color: var(--faint-gray);
  cursor: not-allowed;
}

.btn-pagination.active {
  color: var(--white);
  background-color: var(--primary);
}

.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  margin: 1rem;
  position: relative;
  width: 300px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.card-header {
  padding: 1rem;
}

.card-header .profile-img {
  float: left;
}

.card-header .icon {
  float: right;
}

.card-body {
  position: relative;
}

.card-body .main-img {
  width: 100%;
}

.card-footer {
  padding: 0.2rem 1rem;
}

.card-footer .icon {
  width: 30%;
}

.card-footer .icon:hover {
  cursor: pointer;
}

.icon-container {
  border-bottom: 1px solid var(--faint-gray);
}

.titles {
  display: inline;
  float: left;
  padding: 0 1rem;
}

.title {
  font-size: 0.9rem;
  width: max-content;
}

.sub-title {
  font-size: 0.8rem;
  width: max-content;
}

.profile-img {
  display: inline;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.icon {
  height: 25px;
  display: inline;
}

.comment-container {
  margin-top: 0.3rem;
  position: relative;
}

.icon-container img {
  border-radius: 50%;
}

.comment {
  border-radius: 5rem;
  position: absolute;
  top: 30%;
  left: 25%;
  padding: 0.2rem 0.4rem;
  border: 1px solid var(--faint-gray);
}

.play-button {
  /* bottom: -10px;
  left: 50%; */
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: relative;
  background: var(--status-success);
  margin-left: auto;
  margin-right: auto;
  margin-top: -25px;
}

.play-button img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-center {
  text-align: center;
}

.card2 p {
  width: 100%;
}
