.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  padding: 1rem 1.9rem;
  border-radius: 4px;
}

.btn.btn-primary {
  background-color: #4e42d9;
  color: #fff;
}

.btn.btn-primary:hover,
.btn.btn-primary:active {
  background-color: #5227cc;
}

.btn.btn-secondary {
  background-color: #4e42d92e;
  color: #4e42d9;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.d-inline {
  display: inline;
}

.d-block {
  display: block;
}

.position-absolute {
  position: absolute;
}

.position-relative {
  position: relative;
}

.ml-1 {
  margin-left: 1rem;
}

.ml-2 {
  margin-left: 2rem;
}

.mt-1 {
  margin-left: 1rem;
}

.mt-2 {
  margin-left: 2rem;
}

.mt-3 {
  margin-left: 3rem;
}

.mt-4 {
  margin-left: 4rem;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.text-center {
  text-align: center;
}

.section-heading {
  letter-spacing: 0.01em;
  margin-bottom: 2.5rem;
}
