* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 12px;
}

body {
  font-family: "Mulish", sans-serif;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 4rem;
  margin: 1.6rem 0;
}

p {
  color: var(--text-light);
  font-weight: 300;
  line-height: 2rem;
}

h2 {
  font-size: 2.25rem;
  padding-bottom: 2rem;
}

h4 {
  font-size: 1.25rem;
}

section {
  margin-top: 7rem;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

@media (min-width: 720px) {
  html {
    font-size: 16px;
  }
}
