.btn {
  padding: 0.87rem 2.31rem;
  border-radius: 5rem;
  color: var(--white);
}

.btn-primary {
  background-color: var(--primary);
  transition: all 400ms ease-in-out;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  box-shadow: 0 0.5rem 0.5rem -0.4rem rgb(61 155 185 / 0.55);
  transform: translateY(-0.25rem);
}

.btn-secondary {
  box-shadow: 0px 20px 24px rgba(0, 0, 0, 0.03);
  color: #6c6c6c;
}

.play-btn {
  height: 5rem;
  width: 5rem;
  background-color: var(--white);
  border-radius: 50%;
  box-shadow: 2px 20px 60px rgba(61, 155, 185, 0.1);
  transition: all 400ms ease-in-out;
}

.play-btn:hover,
.play-btn:active,
.play-btn:focus {
  box-shadow: 0 0.5rem 0.5rem -0.4rem rgb(61 155 185 / 0.55);
  transform: translateY(-0.25rem);
}

.btn-join:hover,
.btn-join:active,
.btn-join:focus {
  /* box-shadow: 0 0.5rem 0.5rem -0.4rem rgb(var(--pink) / 0.55); */
  transform: translateY(-0.25rem);
  background-color: var(--pink-light);
}

.btn-join {
  display: block;
  margin-top: 1rem;
  background-color: var(--pink);
  transition: all 400ms ease-in-out;
}

.btn-outline-info {
  border: 1px solid var(--info);
}
.btn-outline-info:hover {
  background-color: var(--info);
}

.btn-info {
  background-color: var(--info);
}

.btn-info:hover {
  background-color: var(--info-hover);
  /* border: 1px solid ; */
}

.btn-outline-secondary {
  border: 1px solid var(--primary);
  color: var(--primary);
}

.btn-outline-secondary:hover,
.btn-outline-secondary:active,
.btn-outline-secondary:focus {
  background-color: var(--primary);
  color: var(--white);
}
