.img-responsive {
  max-width: 100%;
}

.align-center {
  align-items: center;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}

/* .flex-nowrap {
  flex-wrap: nowrap;
} */

.justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-3 {
  gap: 3rem;
}

.row-gap-5 {
  row-gap: 5rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.pt-5 {
  padding-top: 5rem;
}

.position-absolute {
  position: absolute;
}

.glass-effect {
  padding: 0.5rem;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 16px;
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.8); */
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.text-center {
  text-align: center;
}

.text--primary {
  color: var(--primary);
}

.text--light {
  color: var(--text-light);
}

.text--2 {
  font-size: 2.25rem;
}
